#diceOne, #diceTwo, #diceThree, #diceFour, #diceFive, #diceSix {
    background-image: url('images/dices1.png');
    height: 330px;
    width: 330px;
}

#diceOne {
    background-image: url('images/dices1.png');
    background-position: -35px 0;
}

#diceTwo {
    background-image: url('images/dices1.png');
    background-position: -362px 0;
}

#diceThree {
    background-image: url('images/dices1.png');
    background-position: -35px -343px;
}

#diceFour {
    background-image: url('images/dices1.png');
    background-position: -362px -343px;
}

#diceFive {
    background-image: url('images/dices1.png');
    background-position: -35px -713px;
}

#diceSix {
    background-image: url('images/dices1.png');
    background-position: -362px -713px;
}

body {
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-size: 56px;
    padding-left: 1.5%;
    text-transform: uppercase;
}